/*Web Site External Css File*/
/*Web Site İçin External CSS Dosyası*/

/*CSS Codes For body*/
body {
    background-color: ();
    margin: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #000000, #ff0000, #23a6d5, #31f300, #6900f3);
    background-size: 500% 500%;
    animation: animeBG 15s ease infinite;
    animation-direction: alternate;
}

/*CSS Codes For body İs Over.*/
/*body İçin CSS Kodları Bitti.*/

/*Codes For The h1 Tag*/
/*h1 Etiketi İçin CSS Kodları*/

h1 {
    text-align: center;
}

/*Codes For The h1 Tag İs Over*/
/*h1 Etiketi İçin CSS Kodları Bitti*/

/*Coloring Code For Text İnput*/
/*input İçin CSS Renk Kodları*/

input[type="text"]:valid {

    outline: 2px solid green;

}


input[type="text"]:invalid {

    outline: 2px solid red;

}

/*Coloring Code For Text input İs Over*/
/*input İçin CSS Renk Kodları Bitti.*/

/*CSS For Table For Knows Language*/
/*Bilinen Diller Tablosu İçin CSS Kodları*/

#diller {

    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

#diller td,
#diller th {

    border: 1px solid #ddd;
    padding: 8px;

}

#diller tr:nth-child(even) {

    background-color: #f2f2f2;


}

#diller tr:hover {

    background-color: #2ecc71;
    color: #fff;

}

#diller th {

    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2c3e50;
    color: white;
    text-align: center;

}

table {

    background-color: #fff;

}

/*CSS For Table (Knows Language) İs Over.*/

/*For hr Tag Color and Width.*/

hr.hrozellik {

    border: 1px solid rgb(9, 25, 245);
    border: 10;
    width: 90%;

}

/*For hr Tag Color and Width İs Over.*/

/*Tag a Effects*/

a:link,
a:visited {

    background-color: rgb(0, 0, 0);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}


a:hover,
a:active {

    background-color: green;

}

/*Tag a Effects İs Over*/

/*Background Color (RGB)*/

@keyframes animeBG {

    0% {
        background-position: 0%
    }

    100% {
        background-position: 100%
    }

}

/*Background Color (RGB) İs Over*/

/*CSS For List Elements*/

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;

}

li {

    float: left;

}

li a {

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover:not(.active) {

    background-color: #111;

}

/*CSS For List Elements İs Over*/
/*Lite Elemanları İçin CSS Bitti*/

.active {

    background-color: #f39c12;

}

/*Text Selection*/
/*Metin Seçme*/

::selection {

    background: rgb(18, 211, 245);
    color: rgb(rgb(7, 11, 226));

}

/*Text Selection For Mozilla*/
/*Mozilla İçin Metin Seçme*/

::-moz-selection {
    
    background: rgb(18, 211, 245);
    color: rgb(rgb(7, 11, 226));

}

/*Text Selection İs Over*/
/*Metin Seçme Bitti*/

#uye-girisi {

    background-color: rgb(0, 0, 0);
    background-color: green;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

/*File Selection*/

.dosya {

    background-color: rgb(0, 0, 0);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-align: center;

}

.dosya:hover,
.dosya.active {

    background-color: green;

}

/*File Selection İs Over.*/

.tasarimci {

    color: red;
    text-align: center;
    font-weight: bold;

}
 

.link-tasarimci{
    
    font-weight: bold;
    text-align: center;

}

.iletisim{

    text-align: center;
    color: red;

}